.add-recipe {
	padding-top: 8px;
	width: 66%;
	margin: 0 auto;
	.left {
		float: left;
	}
	.clear {
		clear: both;
	}
	.add-recipe-btn {
		background: $light-blue;
		margin-bottom: 20px;
		padding: 5px;
	}
	.delete-btn {
		margin-left: 4px;
		margin-top: 7px;
	}
}