<div ng-controller="LoginController">
  <div class="center">
    <form name="loginForm" class="center-text loginForm">
    	<h1 class="center-text">Log In</h1>
    	<input type="email" placeholder="Email" ng-model="email" required>
    	<input type="password" placeholder="Password" ng-model="password" required>
    	<button class="button" ng-click="loginForm.$valid && login()">Submit</button>
    	<br>
    	<a href="/#/signup">Don't have an account? Sign up!</a>
    </form>
  </div>
</div>
