<div class="recipe" ng-controller='RecipeController'>
	<div class="recipe-container">
		<div class="row">
			<div class="recipe-img columns large-4">
				<img ng-src="{{recipe.image}}">
			</div>
			<div class="recipe-info columns large-8 text-center">
				<h1>{{recipe.name}}</h1>
				<div class="info">
					<span class="fa fa-star" ng-repeat="i in score"></span><span> | </span><span ng-show="!saved" class="tiny button save-btn" ng-click="saveRecipe()">Save</span><span ng-show="saved" class="tiny button save-btn" ng-click="unsaveRecipe()">Unsave</span><span> | </span><span><a>{{reviewCount}} reviews</a></span><span> | </span><span>${{recipe.cost}}</span><span> | </span><span>{{recipe.time}} min</span>
					<p>{{recipe.description}}</p>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="large-4 small-12 columns">
				<h2>Ingredients</h2>
				<ul>
					<li ng-repeat="ingredient in recipe.ingredients">
					<span>{{ingredient.quantity}} {{ingredient.unit}} {{ingredient.name}}</span>
					</li>
				</ul>
			</div>
			<div class="large-8 small-12 columns">
				<div>
					<h3 class="text-left">Directions</h3>
					<div class="d-list">
						<ol class="directions">
							<li ng-repeat="step in recipe.directions">{{step}}</li>
						</ol>
					</div>
				</div>
			</div>
		</div>

		<div class="row reviews text-center">
			<h2>Reviews ({{reviewCount}})</h2>
			<button class="text-center button add-review" ng-click="showForm=true">Write a Review!</button>
		
			<!-- <a href="" ng-click="showForm=true">Add Review</a> -->
			<div class="write-review" ng-show="showForm">
				<h4>Add a Review!</h4>
        		<form ng-submit="addReview()">
            		<label>Rating<span style="color:red">*</span></label>
            		<input type="radio" ng-model="rating" value=1>1 
            		<input type="radio" ng-model="rating" value=2>2 
            		<input type="radio" ng-model="rating" value=3>3 
            		<input type="radio" ng-model="rating" value=4>4 
            		<input type="radio" ng-model="rating" value=5>5
            		
            		<textarea rows="5" ng-model="content" placeholder="Review Content"></textarea>
            		<div class="text-center" ng-show="showErrorMsg">{{errorMsg}}</div>
            		<button class="small button add-review" type="submit">Add Review</button>
        		</form>
			</div>
			<div class="review" ng-repeat="review in recipe.reviews">
				<h4>{{review.username}}</h4>
				<span>{{review.rating}} </span><span class="fa fa-star">'s</span>
				<div>{{review.content}}</div>
			</div>
		</div>
	</div>
</div>

