<div class="search content">
	<form>
		<input type="search" id="search" placeholder="Search" ng-model="fields.query"><!--
		--><button type="button" class="button float-right" data-toggle="filters-dropdown"><i class="fa fa-filter"></i></button>
		<div class="dropdown-pane bottom dropdown" id="filters-dropdown" data-dropdown data-close-on-click="true">
			<h3>Filters</h3>
			<h5>Category</h5>
			<div class="row column" ng-repeat="tag in tags">
				<input type="checkbox" checklist-model="selectedTags" checklist-value="tag"><label>{{tag}}</label>
			</div>
			<h5>Time</h5>
			<div class="row column" ng-repeat="time in times">
				<input type="checkbox" checklist-model="selectedTimes" checklist-value="time"><label>{{time}}</label>
			</div>
			<h5>Cost</h5>
			<div class="row column" ng-repeat="cost in costs">
				<input type="checkbox" checklist-model="selectedCosts" checklist-value="cost"><label>{{cost}}</label>
			</div>
		</div>
	</form>		  
	<div class="row">
		<div class="medium-3 large-2 hide-for-small-only columns" id="filters">
			<div class="row column">
				<h3>Filters</h3>
			</div>
			<h5>Category</h5>
			<div class="row column" ng-repeat="tag in tags">
				<input type="checkbox" checklist-model="selectedTags" checklist-value="tag"><label>{{tag}}</label>
			</div>
			<h5>Time</h5>
			<div class="row column" ng-repeat="time in times">
				<input type="checkbox" checklist-model="selectedTimes" checklist-value="time"><label>{{time}}</label>
			</div>
			<h5>Cost</h5>
			<div class="row column" ng-repeat="cost in costs">
				<input type="checkbox" checklist-model="selectedCosts" checklist-value="cost"><label>{{cost}}</label>
			</div>
		</div>
		<div class="small-12 medium-9 large-10 columns">
			<div class="row">
				<div class="small-up-2 medium-up-3 large-up-5">
					<div ng-repeat="recipe in filteredRecipes" class="column">
						<a ng-href="#/recipes/{{recipe._id}}"><div ng-style="{'background-image':'url({{recipe.image}})'}" class="recipe-box box" ng-mouseover="hoverIn()" ng-mouseleave="hoverOut()">
							<div class="darken box">
								<span class="text-center" ng-hide="hover">{{recipe.name}}</span>
								<span class="text-center" ng-show="hover">{{recipe.time}} mins</span>
							</div>
						</div></a>
					</div>
				</div>
			</div>
			<div class="row column text-center">
				<button class="hollow button load" ng-click="load()" ng-show="filteredRecipes.length >= limit">Load More</button>
			</div>
		</div>
	</div>
</div>