<br><br><br>
<div class="settings-page center">
	<form name="settingsForm" ng-model="settingsForm" class="loginForm">
		<h1 class="settings-h1">Settings</h1>
		<input type="text" placeholder="Name" required>
		<input type="text" placeholder="Username" required>
		<input type="email" placeholder="Email" required>
		<label>Interests
  		<select multiple>
    		<option value="husker">Husker</option>
    		<option value="starbuck">Starbuck</option>
    		<option value="hotdog">Hot Dog</option>
    		<option value="apollo">Apollo</option>
  			</select>
		</label>
		<button class="button" onClick="settingsForm.$valid && editUser()">Save</button><br>
		<a href="/#/home">Reset Password</a>
	</form>
</div>
