<div class="settings-page content" ng-controller="SettingsController">
	<div class="row column">
		<form name="settingsForm" ng-model="settingsForm" class="settings-form">
			<h1 class="settings-h1">Settings</h1>
			<label>Name: <input type="text" placeholder="Name" ng-model="user.name" required></label>
			<label>Email: <input type="email" placeholder="Email" ng-model="user.email" required></label>
			<!-- <label>Interests
	  			<select multiple ng-model="user.tags">
	    			<option ng-repeat="tag in tags" ng-selected="{{user.tags.indexOf(tag) >= 0}}" value="{{tag}}">{{tag}}</option>
	  			</select>
			</label> -->
			<label>Interests
				<div ng-repeat="tag in tags">
					<input type="checkbox" ng-checked="{{user.tags.indexOf(tag) >= 0}}" value="{{tag}}" ng-click="clickedItem(tag)"><label>{{tag}}</label>
				</div>
			</label>
			<button class="button" ng-click="settingsForm.$valid && editUser()">Save</button><br>
			<div class="errorMsg" ng-show="errorMsgShow">
	            <p>{{errorMsg}}</p>
	        </div>
		</form>
	</div>
</div>
