<div ng-controller="SignUpController">
  <div class="center">
    <form name="signUpForm" class="center-text loginForm">
    	<h1 class="center-text">Sign Up</h1>
        <input type="text" placeholder="Name" ng-model="name" required>
        <input type="email" placeholder="Email" ng-model="email" required>
    	<input type="password" placeholder="Password" ng-model="password"required>
    	<button class="button" ng-click="signUpForm.$valid && signUp()">Submit</button>
    	<br>
    	<a href="/#/login">Already have an account? Log in!</a>
    </form>
  </div>
</div>
